.card-user{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 15px;
    gap: 10px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.card-user img{
    border-radius: 50%;
}

.card-user div h4{
    margin: 0;
}
.card-user div p{
    margin: 0;
}