#header{
    background: #000;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
}

#header h1{
    margin: 0;
}

#header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}