.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal main{
    width: 500px;
    min-height: 300px;
    background: #FFF;
    border-radius: 20px;
    padding: 20px;
}
.modal main h1{
    margin: 0 0 15px 0;
}